<h1>{{title}}</h1>

<ul>
    <!--The following is a structure directive. It modifies something in our page using
    JavaScript. In our examle, the *ngFor will allow us to create a JavaScript for of 
    that will loop through the array of users and output to the page the user.id and user.userName-->
    <li *ngFor='let user of users'>{{user.id}} - {{user.userName}}</li>

</ul>